In [30]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Window
from pyspark.sql.functions import *
import os

spark = SparkSession.builder.master('local[1]').appName('bbi').getOrCreate()

In [31]:
auto_df_fixed = spark.read.format("csv").option("header", True).load("/home/basu/data/auto-mpg-fixed.csv")
auto_df_fixed.show()
auto_df_fixed.printSchema()

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|       70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|       70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|       70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|       70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|       70|     1|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0| 3563.|        10.0|       70|     1| dodge challenger se|
|14.0|        8|       340.0|     160.0| 3609.|         8.0|       70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0| 3761.|         9.5|       70|     1|chevrolet monte c...|
|14.0|        8|       455.0|     225.0| 3086.|        10.0|       70|     1|buick estate wago...|
|24.0|        4|       113.0|     95.00| 2372.|        15.0|       70|     3|toyota corona mar...|
|22.0|        6|       198.0|     95.00| 2833.|        15.5|       70|     1|     plymouth duster|
|18.0|        6|       199.0|     97.00| 2774.|        15.5|       70|     1|          amc hornet|
|21.0|        6|       200.0|     85.00| 2587.|        16.0|       70|     1|       ford maverick|
|27.0|        4|       97.00|     88.00| 2130.|        14.5|       70|     3|        datsun pl510|
|26.0|        4|       97.00|     46.00| 1835.|        20.5|       70|     2|vw 1131 deluxe sedan|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 20 rows

root
 |-- mpg: string (nullable = true)
 |-- cylinders: string (nullable = true)
 |-- displacement: string (nullable = true)
 |-- horsepower: string (nullable = true)
 |-- weight: string (nullable = true)
 |-- acceleration: string (nullable = true)
 |-- modelyear: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- carname: string (nullable = true)

In [32]:
for (column_name) in ("mpg cylinders displacement horsepower weight acceleration".split()):
    auto_df_fixed = auto_df_fixed.withColumn(column_name, col(column_name).cast("double"))
auto_df_fixed = auto_df_fixed.withColumn("modelyear", col("modelyear").cast("int"))
auto_df_fixed = auto_df_fixed.withColumn("origin", col("origin").cast("int"))

In [33]:
df = auto_df_fixed.withColumn('upper', upper(col('carname'))).show()

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+
|18.0|      8.0|       307.0|     130.0|3504.0|        12.0|       70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|
|15.0|      8.0|       350.0|     165.0|3693.0|        11.5|       70|     1|   buick skylark 320|   BUICK SKYLARK 320|
|18.0|      8.0|       318.0|     150.0|3436.0|        11.0|       70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|
|16.0|      8.0|       304.0|     150.0|3433.0|        12.0|       70|     1|       amc rebel sst|       AMC REBEL SST|
|17.0|      8.0|       302.0|     140.0|3449.0|        10.5|       70|     1|         ford torino|         FORD TORINO|
|15.0|      8.0|       429.0|     198.0|4341.0|        10.0|       70|     1|    ford galaxie 500|    FORD GALAXIE 500|
|14.0|      8.0|       454.0|     220.0|4354.0|         9.0|       70|     1|    chevrolet impala|    CHEVROLET IMPALA|
|14.0|      8.0|       440.0|     215.0|4312.0|         8.5|       70|     1|   plymouth fury iii|   PLYMOUTH FURY III|
|14.0|      8.0|       455.0|     225.0|4425.0|        10.0|       70|     1|    pontiac catalina|    PONTIAC CATALINA|
|15.0|      8.0|       390.0|     190.0|3850.0|         8.5|       70|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|
|15.0|      8.0|       383.0|     170.0|3563.0|        10.0|       70|     1| dodge challenger se| DODGE CHALLENGER SE|
|14.0|      8.0|       340.0|     160.0|3609.0|         8.0|       70|     1|  plymouth 'cuda 340|  PLYMOUTH 'CUDA 340|
|15.0|      8.0|       400.0|     150.0|3761.0|         9.5|       70|     1|chevrolet monte c...|CHEVROLET MONTE C...|
|14.0|      8.0|       455.0|     225.0|3086.0|        10.0|       70|     1|buick estate wago...|BUICK ESTATE WAGO...|
|24.0|      4.0|       113.0|      95.0|2372.0|        15.0|       70|     3|toyota corona mar...|TOYOTA CORONA MAR...|
|22.0|      6.0|       198.0|      95.0|2833.0|        15.5|       70|     1|     plymouth duster|     PLYMOUTH DUSTER|
|18.0|      6.0|       199.0|      97.0|2774.0|        15.5|       70|     1|          amc hornet|          AMC HORNET|
|21.0|      6.0|       200.0|      85.0|2587.0|        16.0|       70|     1|       ford maverick|       FORD MAVERICK|
|27.0|      4.0|        97.0|      88.0|2130.0|        14.5|       70|     3|        datsun pl510|        DATSUN PL510|
|26.0|      4.0|        97.0|      46.0|1835.0|        20.5|       70|     2|vw 1131 deluxe sedan|VW 1131 DELUXE SEDAN|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+
only showing top 20 rows

In [34]:
auto_df_fixed.withColumn('lower', lower(col('carname'))).show()

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               lower|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+
|18.0|      8.0|       307.0|     130.0|3504.0|        12.0|       70|     1|chevrolet chevell...|chevrolet chevell...|
|15.0|      8.0|       350.0|     165.0|3693.0|        11.5|       70|     1|   buick skylark 320|   buick skylark 320|
|18.0|      8.0|       318.0|     150.0|3436.0|        11.0|       70|     1|  plymouth satellite|  plymouth satellite|
|16.0|      8.0|       304.0|     150.0|3433.0|        12.0|       70|     1|       amc rebel sst|       amc rebel sst|
|17.0|      8.0|       302.0|     140.0|3449.0|        10.5|       70|     1|         ford torino|         ford torino|
|15.0|      8.0|       429.0|     198.0|4341.0|        10.0|       70|     1|    ford galaxie 500|    ford galaxie 500|
|14.0|      8.0|       454.0|     220.0|4354.0|         9.0|       70|     1|    chevrolet impala|    chevrolet impala|
|14.0|      8.0|       440.0|     215.0|4312.0|         8.5|       70|     1|   plymouth fury iii|   plymouth fury iii|
|14.0|      8.0|       455.0|     225.0|4425.0|        10.0|       70|     1|    pontiac catalina|    pontiac catalina|
|15.0|      8.0|       390.0|     190.0|3850.0|         8.5|       70|     1|  amc ambassador dpl|  amc ambassador dpl|
|15.0|      8.0|       383.0|     170.0|3563.0|        10.0|       70|     1| dodge challenger se| dodge challenger se|
|14.0|      8.0|       340.0|     160.0|3609.0|         8.0|       70|     1|  plymouth 'cuda 340|  plymouth 'cuda 340|
|15.0|      8.0|       400.0|     150.0|3761.0|         9.5|       70|     1|chevrolet monte c...|chevrolet monte c...|
|14.0|      8.0|       455.0|     225.0|3086.0|        10.0|       70|     1|buick estate wago...|buick estate wago...|
|24.0|      4.0|       113.0|      95.0|2372.0|        15.0|       70|     3|toyota corona mar...|toyota corona mar...|
|22.0|      6.0|       198.0|      95.0|2833.0|        15.5|       70|     1|     plymouth duster|     plymouth duster|
|18.0|      6.0|       199.0|      97.0|2774.0|        15.5|       70|     1|          amc hornet|          amc hornet|
|21.0|      6.0|       200.0|      85.0|2587.0|        16.0|       70|     1|       ford maverick|       ford maverick|
|27.0|      4.0|        97.0|      88.0|2130.0|        14.5|       70|     3|        datsun pl510|        datsun pl510|
|26.0|      4.0|        97.0|      46.0|1835.0|        20.5|       70|     2|vw 1131 deluxe sedan|vw 1131 deluxe sedan|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+
only showing top 20 rows

In [35]:
auto_df_fixed.withColumn('modelyear', concat(lit(19), col('modelyear'))).show()

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|      8.0|       307.0|     130.0|3504.0|        12.0|     1970|     1|chevrolet chevell...|
|15.0|      8.0|       350.0|     165.0|3693.0|        11.5|     1970|     1|   buick skylark 320|
|18.0|      8.0|       318.0|     150.0|3436.0|        11.0|     1970|     1|  plymouth satellite|
|16.0|      8.0|       304.0|     150.0|3433.0|        12.0|     1970|     1|       amc rebel sst|
|17.0|      8.0|       302.0|     140.0|3449.0|        10.5|     1970|     1|         ford torino|
|15.0|      8.0|       429.0|     198.0|4341.0|        10.0|     1970|     1|    ford galaxie 500|
|14.0|      8.0|       454.0|     220.0|4354.0|         9.0|     1970|     1|    chevrolet impala|
|14.0|      8.0|       440.0|     215.0|4312.0|         8.5|     1970|     1|   plymouth fury iii|
|14.0|      8.0|       455.0|     225.0|4425.0|        10.0|     1970|     1|    pontiac catalina|
|15.0|      8.0|       390.0|     190.0|3850.0|         8.5|     1970|     1|  amc ambassador dpl|
|15.0|      8.0|       383.0|     170.0|3563.0|        10.0|     1970|     1| dodge challenger se|
|14.0|      8.0|       340.0|     160.0|3609.0|         8.0|     1970|     1|  plymouth 'cuda 340|
|15.0|      8.0|       400.0|     150.0|3761.0|         9.5|     1970|     1|chevrolet monte c...|
|14.0|      8.0|       455.0|     225.0|3086.0|        10.0|     1970|     1|buick estate wago...|
|24.0|      4.0|       113.0|      95.0|2372.0|        15.0|     1970|     3|toyota corona mar...|
|22.0|      6.0|       198.0|      95.0|2833.0|        15.5|     1970|     1|     plymouth duster|
|18.0|      6.0|       199.0|      97.0|2774.0|        15.5|     1970|     1|          amc hornet|
|21.0|      6.0|       200.0|      85.0|2587.0|        16.0|     1970|     1|       ford maverick|
|27.0|      4.0|        97.0|      88.0|2130.0|        14.5|     1970|     3|        datsun pl510|
|26.0|      4.0|        97.0|      46.0|1835.0|        20.5|     1970|     2|vw 1131 deluxe sedan|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 20 rows

In [17]:
auto_df_fixed.withColumn('mpg', when(col('mpg') <= 20, 'low').
                        when(col('mpg') <= 30, 'mid').
                         when(col('mpg') <= 40, 'high').
                         otherwise('Very High')).show(truncate = False)

+---+---------+------------+----------+------+------------+---------+------+-------------------------+
|mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|carname                  |
+---+---------+------------+----------+------+------------+---------+------+-------------------------+
|low|8.0      |307.0       |130.0     |3504.0|12.0        |70       |1     |chevrolet chevelle malibu|
|low|8.0      |350.0       |165.0     |3693.0|11.5        |70       |1     |buick skylark 320        |
|low|8.0      |318.0       |150.0     |3436.0|11.0        |70       |1     |plymouth satellite       |
|low|8.0      |304.0       |150.0     |3433.0|12.0        |70       |1     |amc rebel sst            |
|low|8.0      |302.0       |140.0     |3449.0|10.5        |70       |1     |ford torino              |
|low|8.0      |429.0       |198.0     |4341.0|10.0        |70       |1     |ford galaxie 500         |
|low|8.0      |454.0       |220.0     |4354.0|9.0         |70       |1     |chevrolet impala         |
|low|8.0      |440.0       |215.0     |4312.0|8.5         |70       |1     |plymouth fury iii        |
|low|8.0      |455.0       |225.0     |4425.0|10.0        |70       |1     |pontiac catalina         |
|low|8.0      |390.0       |190.0     |3850.0|8.5         |70       |1     |amc ambassador dpl       |
|low|8.0      |383.0       |170.0     |3563.0|10.0        |70       |1     |dodge challenger se      |
|low|8.0      |340.0       |160.0     |3609.0|8.0         |70       |1     |plymouth 'cuda 340       |
|low|8.0      |400.0       |150.0     |3761.0|9.5         |70       |1     |chevrolet monte carlo    |
|low|8.0      |455.0       |225.0     |3086.0|10.0        |70       |1     |buick estate wagon (sw)  |
|mid|4.0      |113.0       |95.0      |2372.0|15.0        |70       |3     |toyota corona mark ii    |
|mid|6.0      |198.0       |95.0      |2833.0|15.5        |70       |1     |plymouth duster          |
|low|6.0      |199.0       |97.0      |2774.0|15.5        |70       |1     |amc hornet               |
|mid|6.0      |200.0       |85.0      |2587.0|16.0        |70       |1     |ford maverick            |
|mid|4.0      |97.0        |88.0      |2130.0|14.5        |70       |3     |datsun pl510             |
|mid|4.0      |97.0        |46.0      |1835.0|20.5        |70       |2     |vw 1131 deluxe sedan     |
+---+---------+------------+----------+------+------------+---------+------+-------------------------+
only showing top 20 rows

In [36]:
auto_df_fixed.withColumn('xyz', lit(19)).show()

+----+---------+------------+----------+------+------------+---------+------+--------------------+---+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|xyz|
+----+---------+------------+----------+------+------------+---------+------+--------------------+---+
|18.0|      8.0|       307.0|     130.0|3504.0|        12.0|       70|     1|chevrolet chevell...| 19|
|15.0|      8.0|       350.0|     165.0|3693.0|        11.5|       70|     1|   buick skylark 320| 19|
|18.0|      8.0|       318.0|     150.0|3436.0|        11.0|       70|     1|  plymouth satellite| 19|
|16.0|      8.0|       304.0|     150.0|3433.0|        12.0|       70|     1|       amc rebel sst| 19|
|17.0|      8.0|       302.0|     140.0|3449.0|        10.5|       70|     1|         ford torino| 19|
|15.0|      8.0|       429.0|     198.0|4341.0|        10.0|       70|     1|    ford galaxie 500| 19|
|14.0|      8.0|       454.0|     220.0|4354.0|         9.0|       70|     1|    chevrolet impala| 19|
|14.0|      8.0|       440.0|     215.0|4312.0|         8.5|       70|     1|   plymouth fury iii| 19|
|14.0|      8.0|       455.0|     225.0|4425.0|        10.0|       70|     1|    pontiac catalina| 19|
|15.0|      8.0|       390.0|     190.0|3850.0|         8.5|       70|     1|  amc ambassador dpl| 19|
|15.0|      8.0|       383.0|     170.0|3563.0|        10.0|       70|     1| dodge challenger se| 19|
|14.0|      8.0|       340.0|     160.0|3609.0|         8.0|       70|     1|  plymouth 'cuda 340| 19|
|15.0|      8.0|       400.0|     150.0|3761.0|         9.5|       70|     1|chevrolet monte c...| 19|
|14.0|      8.0|       455.0|     225.0|3086.0|        10.0|       70|     1|buick estate wago...| 19|
|24.0|      4.0|       113.0|      95.0|2372.0|        15.0|       70|     3|toyota corona mar...| 19|
|22.0|      6.0|       198.0|      95.0|2833.0|        15.5|       70|     1|     plymouth duster| 19|
|18.0|      6.0|       199.0|      97.0|2774.0|        15.5|       70|     1|          amc hornet| 19|
|21.0|      6.0|       200.0|      85.0|2587.0|        16.0|       70|     1|       ford maverick| 19|
|27.0|      4.0|        97.0|      88.0|2130.0|        14.5|       70|     3|        datsun pl510| 19|
|26.0|      4.0|        97.0|      46.0|1835.0|        20.5|       70|     2|vw 1131 deluxe sedan| 19|
+----+---------+------------+----------+------+------------+---------+------+--------------------+---+
only showing top 20 rows

In [37]:
# Sample data
data = [
    (1, 'John', 85),
    (2, 'Alice', 92),
    (3, 'Bob', 85),
    (4, 'Charlie', 78),
    (5, 'Eve', 92),
    (6, 'Frank', 78),
]

# Create a Spark session
spark = SparkSession.builder.appName("RankExample").getOrCreate()

# Create a DataFrame with the sample data
columns = ["EmployeeID", "EmployeeName", "PerformanceScore"]
df = spark.createDataFrame(data, columns)

# Define a window specification for ranking
window_spec = Window.orderBy(F.col("PerformanceScore").desc())

# Add a PerformanceRank column using the rank function
df = df.withColumn("PerformanceRank", F.rank().over(window_spec))

# Create a subquery to filter the results
subquery = (
    df.select("EmployeeID", "EmployeeName", "PerformanceScore", "PerformanceRank")
    .filter((F.col("PerformanceRank") <= 3) | (F.col("PerformanceRank") == 4))
)

# Show the result
subquery.show()

24/01/14 01:25:15 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.
24/01/14 01:25:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/01/14 01:25:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/01/14 01:25:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+----------+------------+----------------+---------------+
|EmployeeID|EmployeeName|PerformanceScore|PerformanceRank|
+----------+------------+----------------+---------------+
|         2|       Alice|              92|              1|
|         5|         Eve|              92|              1|
|         1|        John|              85|              3|
|         3|         Bob|              85|              3|
+----------+------------+----------------+---------------+

24/01/14 01:25:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/01/14 01:25:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [38]:
auto_df_fixed.show()

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|      8.0|       307.0|     130.0|3504.0|        12.0|       70|     1|chevrolet chevell...|
|15.0|      8.0|       350.0|     165.0|3693.0|        11.5|       70|     1|   buick skylark 320|
|18.0|      8.0|       318.0|     150.0|3436.0|        11.0|       70|     1|  plymouth satellite|
|16.0|      8.0|       304.0|     150.0|3433.0|        12.0|       70|     1|       amc rebel sst|
|17.0|      8.0|       302.0|     140.0|3449.0|        10.5|       70|     1|         ford torino|
|15.0|      8.0|       429.0|     198.0|4341.0|        10.0|       70|     1|    ford galaxie 500|
|14.0|      8.0|       454.0|     220.0|4354.0|         9.0|       70|     1|    chevrolet impala|
|14.0|      8.0|       440.0|     215.0|4312.0|         8.5|       70|     1|   plymouth fury iii|
|14.0|      8.0|       455.0|     225.0|4425.0|        10.0|       70|     1|    pontiac catalina|
|15.0|      8.0|       390.0|     190.0|3850.0|         8.5|       70|     1|  amc ambassador dpl|
|15.0|      8.0|       383.0|     170.0|3563.0|        10.0|       70|     1| dodge challenger se|
|14.0|      8.0|       340.0|     160.0|3609.0|         8.0|       70|     1|  plymouth 'cuda 340|
|15.0|      8.0|       400.0|     150.0|3761.0|         9.5|       70|     1|chevrolet monte c...|
|14.0|      8.0|       455.0|     225.0|3086.0|        10.0|       70|     1|buick estate wago...|
|24.0|      4.0|       113.0|      95.0|2372.0|        15.0|       70|     3|toyota corona mar...|
|22.0|      6.0|       198.0|      95.0|2833.0|        15.5|       70|     1|     plymouth duster|
|18.0|      6.0|       199.0|      97.0|2774.0|        15.5|       70|     1|          amc hornet|
|21.0|      6.0|       200.0|      85.0|2587.0|        16.0|       70|     1|       ford maverick|
|27.0|      4.0|        97.0|      88.0|2130.0|        14.5|       70|     3|        datsun pl510|
|26.0|      4.0|        97.0|      46.0|1835.0|        20.5|       70|     2|vw 1131 deluxe sedan|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 20 rows

In [39]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Create Spark session
spark = SparkSession.builder.appName("example_UDF").getOrCreate()

# Define custom function
def my_custom_function(value):
    return value.upper()

# Register UDF with explicit return type
my_udf = udf(my_custom_function, StringType())

# Sample DataFrame
data = [("John",), ("Doe",), ("Alice",)]
columns = ["name"]
df = spark.createDataFrame(data, columns)

# Apply UDF and create a new column
df = df.withColumn("name_uppercase", my_udf(df["name"]))

# Show the result
df.show()

24/01/14 01:25:22 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+-----+--------------+
| name|name_uppercase|
+-----+--------------+
| John|          JOHN|
|  Doe|           DOE|
|Alice|         ALICE|
+-----+--------------+

In [40]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Create Spark session
spark = SparkSession.builder.appName("example_UDF").getOrCreate()

# Sample DataFrame
data = [("John", "Doe"), ("Alice", "Smith"), ("Bob", "Johnson")]
columns = ["first_name", "last_name"]
df = spark.createDataFrame(data, columns)

# Define a UDF to concatenate first and last names
def concatenate_names(first_name, last_name):
    return f"{first_name} {last_name}"

# Register UDF with explicit return type
concatenate_names_udf = udf(concatenate_names, StringType())

# Apply UDF column-wise and create a new column
df = df.withColumn("full_name", concatenate_names_udf(df["first_name"], df["last_name"]))

# Show the result
df.show()

+----------+---------+-----------+
|first_name|last_name|  full_name|
+----------+---------+-----------+
|      John|      Doe|   John Doe|
|     Alice|    Smith|Alice Smith|
|       Bob|  Johnson|Bob Johnson|
+----------+---------+-----------+

In [41]:
# Specify the path to your JSON file
json_file_path = "/home/basu/data/sample.json"

# Read JSON file with PERMISSIVE mode
df = spark.read.option("mode", "PERMISSIVE").json(json_file_path)

# Show the DataFrame after removing corrupt records
df.show()

+---+-------------+-----+
|age|         city| name|
+---+-------------+-----+
| 25|     New York| John|
| 30|San Francisco|Alice|
| 28|  Los Angeles|  Bob|
+---+-------------+-----+

In [ ]:
df.withColumn('age

In [47]:
# Specify the correct path to your CSV file
csv_file_path = '/home/basu/data/finance.csv'
df = spark.read.option('header', 'True').option('inferSchema', 'True').csv(csv_file_path)
df_selected = df.select('year', col('Industry_aggregation_NZSIOC').alias('industry_agg'),\
                        col('Industry_code_NZSIOC').alias('inddustry_code')).limit(50)
df_selected.count()

50