In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=032581a7cf094349a0f420408ec41a2154d266aefecd322982d4526f89c5e130
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

sc=SparkContext()
spark = SparkSession(sc)

In [ ]:
source_df=spark.read.parquet("/content/lbd_pq_10k.parquet")
source_df.printSchema()

In [ ]:
import pandas as pd

In [ ]:
#create two another dataframe of metadata of current source data
#and compare those using outer join
# pd_df1=pd.DataFrame(source_std_data.dtypes,columns=['column','data_type'])
pd_df2=pd.DataFrame(source_df.dtypes,columns=['column','data_type'])

In [ ]:
old_names=pd_df2['column'].tolist()

In [ ]:
# old_names

In [ ]:
lbd_df=pd.read_excel("LBD,LBBD,Loan.xlsx",sheet_name='loan_by_day')

In [ ]:
#convert pandas df into spark df
lbd_spark=spark.createDataFrame(lbd_df)

In [ ]:
#select 'Target Field Name NEW(Display Name)','Source Field Names' where 'Processing Order' ==1 and 'Pre Processing Rules' == 'rename'

In [ ]:
rename_df=lbd_spark.select(lbd_spark['Target Field Name NEW(Display Name)'],lbd_spark['Source Field Names']).filter((lbd_spark['Processing Order']==1)&(lbd_spark['Pre Processing Rules']=='rename'))

In [ ]:
rename=rename_df.toPandas()

In [ ]:
rename

,Target Field Name NEW(Display Name),Source Field Names
0,loan_customer_application_id,customer_application_id
1,prev_ops_loan_status,status_prev
2,ops_loan_status,loan_status
3,past_due_total_amount_to_date,past_due_total_to_date
4,prev_late_date,late_date_prev
...,...,...
204,total_paid_tco_recoveries_amount,total_paid_tco_recovery
205,total_refund_tco_recoveries_amount,total_refunded_tco_recovery
206,total_refinance_payoff_tco_recoveries_amount,total_refinance_payoffs_tco_recovery
207,late_fees_added_after_tco_amount,late_fees_added_tco_recovery
208,nsf_fees_added_after_tco_amount,nsf_fees_added_tco_recovery

In [ ]:
old_names=rename['Source Field Names'].tolist()
target_name=rename['Target Field Name NEW(Display Name)'].tolist()

In [ ]:
for old_col, new_col in zip(old_names,target_name):
  target_rename_df=source_df.withColumnRenamed(old_col,new_col)

In [ ]:
target_rename_df.show()

In [ ]:
source_df.show()

In [ ]:
target_rename_df1=source_df.withColumnRenamed('customer_application_id', 'loan_customer_application_id')

In [ ]:
target_rename_df1.show()

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import Window

In [ ]:

mapping = dict(zip(old_names,target_name))
target=source_df.select([col(c).alias(mapping.get(c, c)) for c in source_df.columns])

In [ ]:
target.show()

In [ ]:
target = target.withColumn(
    "age_of_book",
    when(
        (col("final_take_payment_date").isNotNull()) &
        (col("final_take_payment_date") <= col("measurement_date")),
        months_between(col("final_take_payment_date"), col("origination_date")).cast(IntegerType())
    ).when(
        (col("treasury_charge_off_date").isNotNull()) &
        (col("treasury_charge_off_date") <= col("measurement_date")),
        months_between(col("treasury_charge_off_date"), col("origination_date")).cast(IntegerType())
    ).when(
        col("origination_date") > col("measurement_date"),
        0
    ).otherwise(
        months_between(col("measurement_date"), col("origination_date")).cast(IntegerType())
    )
)

In [ ]:
window = Window.orderBy("measurement_date")
target = target.withColumn("temp_first_10_days_late", when(target.days_late_excl_charge_off >= 10, target.measurement_date))
target = target.withColumn("first_10_days_late_date", first(target.temp_first_10_days_late, True) \
        .over(window))

In [ ]:
target.select(col('first_10_days_late_date')).show(n=200)

In [ ]:
target = target.drop("temp_first_10_days_late")

In [ ]:
window = Window.orderBy(col("measurement_date").desc())

#target = target.withColumn("temp_first_60_days_late", when(col("days_late_excl_charge_off") >= 60, col("measurement_date")))
target = target.withColumn("temp_first_60_days_late", when(col("days_late_excl_charge_off") >= 60, col("measurement_date"))).filter(col("temp_first_60_days_late").isNotNull())
target = target.filter(col("temp_first_60_days_late").isNotNull())
target = target.withColumn("first_60_days_late_date", first("temp_first_60_days_late", True).over(window))

# Drop the temporary column if needed
target = target.drop("temp_first_60_days_late")

In [ ]:
target.select(col('temp_first_60_days_late'), col('days_late_excl_charge_off'), col('measurement_date')).show(n=300)

In [ ]:
target.select(col('first_60_days_late_date')).show()

In [ ]:
from pyspark.sql.functions import max as spark_max
target = target.withColumn(
    "current_maturity_date",
    when(
        col("status") == "paid_off",
        col("final_take_payment_date")
    ).when(
        (col("treasury_charge_off_date").isNotNull()) &
        (col("treasury_charge_off_date") <= col("measurement_date")),
        None
    ).when(
        col("settlement_flag") == "true",
        col("settlement_adjusted_end_date")
    ).otherwise(
        col("max_installment_date")
    )
)

In [ ]:
target.select(col('status')).show()

+-----------+
|     status|
+-----------+
|       late|
|charged_off|
|charged_off|
|charged_off|
|charged_off|
|charged_off|
|       late|
|charged_off|
|charged_off|
|charged_off|
|charged_off|
|charged_off|
|charged_off|
|charged_off|
|charged_off|
|charged_off|
|charged_off|
|charged_off|
|charged_off|
|charged_off|
+-----------+
only showing top 20 rows

In [ ]:
window = Window().orderBy("late_date").rowsBetween(Window.unboundedPreceding, Window.currentRow)

# Add the temporary column based on the condition
target = target.withColumn("temp_first_120_days_late", when(date_diff(target.late_date, target.measurement_date) >= 120, target.measurement_date))

# Add the final column using the window specification
target = target.withColumn("first_120_days_late_date", first("temp_first_120_days_late", True).over(window))

# Show the resulting DataFrame
target.show()

In [ ]:
target = target.withColumn("temp_most_recent_90_days_late_date",\
                           when(target.days_late_excl_charge_off == 90, target.measurement_date))
target = target.withColumn("most_recent_90_days_late_date", last(target.temp_most_recent_90_days_late_date, True) \
                           .over(Window.partitionBy(target.loan_id).orderBy(target.measurement_date)))

In [ ]:
target.select(col('most_recent_90_days_late_date')).show(n=200)

In [ ]:
window = Window().partitionBy("loan_id", "late_date")
target = target.withColumn("temp_number_of_instances_late", \
                           row_number() \
                           .over(Window.partitionBy(target.loan_id, target.late_date).orderBy(target.measurement_date)))
target = target.withColumn("number_of_instances_late", \
                           sum(when(
                               (target.prev_days_late_excl_charge_off.isNull() | (target.prev_days_late_excl_charge_off == 0)) \
                               & (target.temp_number_of_instances_late == 1) & (target.late_date.isNotNull()), 1).otherwise(0)) \
                           .over(window))

In [ ]:
target.select(col('number_of_instances_late')).show(n=200)

In [ ]:
target = target.withColumn("late_120_month",\
                           when(target.first_120_days_late_date.isNotNull(),\
                                trunc(target.first_120_days_late_date, 'month')).otherwise(None))

In [ ]:
target.select('late_120_month').show()